

:root{
    
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.💪{ display: flex }
.💠{ justify-content: center; align-items: center; }

body{
    min-height: 100vh;
    background: hotpink;
    color: white;
    display: flex;
    flex-direction: column;
}

.appbar{
    background: red;
    position: fixed;
    /* z-index: 1; */
    width: 100vw;
    height: 8vw;
    /* margin-bottom: 108vw; */
}

header{
    background: gold;
    height: 50vw;
}

.section-top{
    background: blue;
    height: 100vw;
}

nav{
    background: green;
    height: 50vw;
}

.section-bottom{
    background: blue;
    height: 100vw;
}

footer{
    background: black;
    display: flex;
    margin-top: auto;
    height: 40vw;
}/*
footer p{
    margin-left: auto;
<<<<<<< HEAD
}


div { display: flex;}
.div { justify-content: center;}
#div { align-items: center;}


v{ background-color: #0097a7 }
k{ background-color: #ef6155 }
n{ background-color: #e96ba8 }
c{ background-color: #ff9e00 }
f{ background-color: #48b685 }
s{ background-color: #ffffff }
o{ background-color: #43a2ad }
c{ background-color: #736363a9 }
editor{ background-color: #1c1c21; }
activitybar{ background-attachment: #2d3037; }
sidebar{ background-color: #24272c; }
statusbar{ background-color: #1c1c21; }

=======
    display: flex;
    justify-content: center;
    align-items: center;
}*/
>>>>>>> a82a89390e1e87c49c7a2147d7ef3c4e4a5a3f14
